.location-help {
  max-width: 650px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-auto-flow: column;
  }

  #map {
    height: 100%;
  }
  .location-help {
    margin: 0 0;
  }
}
