/* Buttons */
.btn {
  --bs-btn-border-radius: 0;
  --bs-btn-border-width: 0;
  --bs-btn-disabled-bg: var(--color-nordic-light-grey);
  --bs-btn-disabled-border-color: var(--color-nordic-light-grey);
  --bs-btn-disabled-color: white;
  padding: 8px 22px;
}
.btn-primary {
  --bs-btn-bg: var(--color-nordic-blue);
  --bs-btn-border-color: var(--color-nordic-blue);
  --bs-btn-hover-bg: var(--color-nordic-blue);
  --bs-btn-hover-border-color: var(--color-nordic-blue);
  --bs-btn-active-bg: var(--color-nordic-blue);
  --bs-btn-active-border-color: var(--color-nordic-blue);
}
.btn-secondary {
  --bs-btn-border-width: 2px;
  padding: 6px 20px;
  --bs-btn-color: var(--color-nordic-lake);
  --bs-btn-bg: white;
  --bs-btn-border-color: var(--color-nordic-light-grey);
  --bs-btn-hover-bg: var(--color-nordic-lake);
  --bs-btn-hover-border-color: var(--color-nordic-lake);
  --bs-btn-active-bg: var(--color-nordic-lake);
  --bs-btn-active-border-color: var(--color-nordic-lake);
  --bs-btn-disabled-bg: white;
  --bs-btn-disabled-color: var(--color-nordic-middle-grey);
  --bs-btn-disabled-border-color: var(--color-nordic-light-grey);
}
.btn-outline-secondary {
  --bs-btn-border-color: var(--color-nordic-lake);
  --bs-btn-color: var(--color-nordic-lake);
  --bs-btn-hover-bg: var(--color-nordic-lake);
  --bs-btn-hover-border-color: var(--color-nordic-lake);
}
.btn-success {
  --bs-btn-color: var(--color-nordic-dark-grey);
  --bs-btn-hover-color: var(--color-nordic-dark-grey);
  --bs-btn-bg: var(--color-nordic-grass);
  --bs-btn-border-color: var(--color-nordic-grass);
  --bs-btn-hover-bg: var(--color-nordic-grass);
  --bs-btn-hover-border-color: var(--color-nordic-grass);
  --bs-btn-active-bg: var(--color-nordic-grass);
  --bs-btn-active-border-color: var(--color-nordic-grass);
}
.btn-danger {
  --bs-btn-bg: var(--color-nordic-red);
  --bs-btn-border-color: var(--color-nordic-red);
  --bs-btn-hover-bg: var(--color-nordic-red);
  --bs-btn-hover-border-color: var(--color-nordic-red);
  --bs-btn-active-bg: var(--color-nordic-red);
  --bs-btn-active-border-color: var(--color-nordic-red);
}
.btn-warning {
  --bs-btn-color: var(--color-nordic-dark-grey);
  --bs-btn-bg: var(--color-nordic-sun);
  --bs-btn-border-color: var(--color-nordic-sun);
  --bs-btn-hover-bg: var(--color-nordic-sun);
  --bs-btn-hover-border-color: var(--color-nordic-sun);
  --bs-btn-active-bg: var(--color-nordic-sun);
  --bs-btn-active-border-color: var(--color-nordic-sun);
}
.btn-info {
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
  --bs-btn-bg: var(--color-nordic-blueslate);
  --bs-btn-border-color: var(--color-nordic-blueslate);
  --bs-btn-hover-bg: var(--color-nordic-blueslate);
  --bs-btn-hover-border-color: var(--color-nordic-blueslate);
  --bs-btn-active-bg: var(--color-nordic-blueslate);
  --bs-btn-active-border-color: var(--color-nordic-blueslate);
}
.btn-light {
  --bs-btn-bg: var(--color-nordic-light-grey);
  --bs-btn-border-color: var(--color-nordic-light-grey);
  --bs-btn-hover-bg: var(--color-nordic-light-grey);
  --bs-btn-hover-border-color: var(--color-nordic-light-grey);
  --bs-btn-active-bg: var(--color-nordic-light-grey);
  --bs-btn-active-border-color: var(--color-nordic-light-grey);
}
.btn-outline-light {
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--color-nordic-light-grey);
  --bs-btn-color: var(--color-nordic-light-grey);
  --bs-btn-hover-bg: var(--color-nordic-light-grey);
  --bs-btn-hover-border-color: var(--color-nordic-light-grey);
  --bs-btn-active-bg: var(--color-nordic-light-grey);
  --bs-btn-active-border-color: var(--color-nordic-light-grey);
}
.btn-dark {
  --bs-btn-bg: var(--color-nordic-dark-grey);
  --bs-btn-border-color: var(--color-nordic-dark-grey);
  --bs-btn-hover-bg: var(--color-nordic-dark-grey);
  --bs-btn-hover-border-color: var(--color-nordic-dark-grey);
  --bs-btn-active-bg: var(--color-nordic-dark-grey);
  --bs-btn-active-border-color: var(--color-nordic-dark-grey);
}

.nordic-button {
  overflow: hidden;
  position: relative;
}
.nordic-button:focus {
  outline: 2px solid var(--color-nordic-lake);
  outline-offset: 4px;
  box-shadow: none;
}
.nordic-button > svg.triangle {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}
.nordic-button:hover > svg.triangle {
  transform: translateX(-20px);
}

.nordic-button:active > svg.triangle {
  transform: translateX(-40px);
}
