.nordic-button {
  overflow: hidden;
  position: relative;
}
.nordic-button:focus {
  outline: 2px solid var(--color-nordic-lake);
  outline-offset: 4px;
  box-shadow: none;
}
.nordic-button > svg.triangle {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}
.nordic-button:hover > svg.triangle {
  transform: translateX(-20px);
}

.nordic-button:active > svg.triangle {
  transform: translateX(-40px);
}
