#map {
  width: 100%;
  min-height: 50vh;
  overflow: clip;
}

section.map {
  position: relative;
  width: 100%;
  min-height: 50vh;
}

.mapControls {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
}

.map .controls {
  background-color: var(--color-nordic-light-grey);
  border: 1px solid var(--color-nordic-middle-grey);
  border-radius: 5px;
}

.map .controls button.control,
.map .controls .button.control {
  border: 0;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--color-nordic-dark-grey);
}

.map .controls.vertical button.control + button,
.map .controls.vertical button.control + .button.control,
.map .controls.vertical .button.control + button,
.map .controls.vertical .button.control + .button.control {
  border-top: 1px solid var(--color-nordic-middle-grey);
}

.map .controls.horizontal button.control + button,
.map .controls.horizontal button.control + .button.control,
.map .controls.horizontal .button.control + button,
.map .controls.horizontal .button.control + .button.control {
  border-left: 1px solid var(--color-nordic-middle-grey);
}

.map .controls button.control[disabled] {
  color: var(--color-nordic-middle-grey);
}

.lockInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.lockInfo span {
  color: var(--color-nordic-light-grey);
  font-size: 125%;
  background-color: #00000080;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.lockInfo button {
  border: 0;
  background-color: transparent;
  color: var(--color-nordic-light-grey);
  padding: 0;
  margin: 0;
}

.locationControls {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 50px;
}

.noLocationInfo {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.noLocationInfo span {
  color: var(--color-nordic-light-grey);
  font-size: 125%;
  background-color: #00000080;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 4rem;
  user-select: none;
}

.maplibregl-ctrl-attrib {
  color: black;
}
