.value-loading-light {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  overflow: hidden;
  border-radius: 2px;
}
.value-loading {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
  border-radius: 2px;
}
.progress-animation {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(
    to left,
    rgba(106, 209, 227, 0.05),
    rgba(106, 209, 227, 0.3),
    rgba(106, 209, 227, 0.6),
    rgba(106, 209, 227, 0.3),
    rgba(106, 209, 227, 0.05)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(106, 209, 227, 0.05),
    rgba(106, 209, 227, 0.3),
    rgba(106, 209, 227, 0.6),
    rgba(106, 209, 227, 0.3),
    rgba(106, 209, 227, 0.05)
  );
  background-image: -webkit-linear-gradient(
    to left,
    rgba(106, 209, 227, 0.05),
    rgba(106, 209, 227, 0.3),
    rgba(106, 209, 227, 0.6),
    rgba(106, 209, 227, 0.3),
    rgba(106, 209, 227, 0.05)
  );
  animation: loading 1s infinite;
  z-index: 2;
}

@keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
