:root {
  --sans-serif-font: "GT Eesti Display", monospace;
  --monospace-font: "Pragmata Medium", monospace;

  /* Nordic Style Guide: Primary colors */
  --color-nordic-blue: #00a9ce;
  --color-nordic-sky: #6ad1e3;
  --color-nordic-blueslate: #0032a0;
  --color-nordic-lake: #0077c8;

  /* Nordic Style Guide: Supporting colors */
  --color-nordic-grass: #cedd50; /* nRF51 Series */
  --color-nordic-sun: #f4cb43; /* nRF52 Series */
  --color-nordic-fall: #de823b; /* nRF91 Series */
  --color-nordic-power: #8bc058; /* nPM Family   */
  --color-nordic-red: #d1314f; /* nRF53 Series */
  --color-nordic-pink: #c6007e; /* nRF21 Series */

  /* Nordic Style Guide: Neutral colors */
  --color-nordic-light-grey: #d9e1e2;
  --color-nordic-middle-grey: #768692;
  --color-nordic-dark-grey: #333f48;

  /* Location Source Colors */
  /* Source https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc */
  --color-location-GNSS: #c7f9cc;
  --color-location-WIFI: #80ed99;
  --color-location-MULTI_CELL: #57cc99;
  --color-location-SINGLE_CELL: #38a3a5;

  /* Product Family Colors */
  --color-nRF9: var(--color-nordic-fall);
  --color-nRF7: #d13150;

  /* Other */
  --color-panel-bg: #0b0b0f75;
}

abbr[title] {
  text-decoration: none;
}

body {
  font-family: var(--sans-serif-font);
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.lucide {
  width: 22px;
  height: 22px;
}

h1 {
  font-size: 30px;
  line-height: 27px;
  font-family: "GT Eesti Display";
  font-weight: 100;
}

h2 {
  font-size: 20px;
  line-height: 27px;
  font-family: "GT Eesti Display";
  font-weight: 400;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  font-family: "GT Eesti Display";
  font-weight: 400;
}

code {
  font-family: var(--monospace-font);
  font-weight: 400;
}

@font-face {
  font-family: "GT Eesti Display";
  src: url("/static/fonts/GT-Eesti-Display-ULight.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "GT Eesti Display";
  src: url("/static/fonts/GT-Eesti-Display-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT Eesti Display";
  src: url("/static/fonts/GT-Eesti-Display-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "GT Eesti Display";
  src: url("/static/fonts/GT-Eesti-Display-Medium.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Pragmata Medium";
  src: local("Pragmata Medium"),
    url("/static/fonts/Pragmata-Medium.woff2") format("woff2");
  font-weight: 400;
}
